footer {
    background-color: $black;
    text-align: center;

    p {
        color: $offWhite;
        font-size: 20px;
        margin: 0 auto;
    }

    a {
        font-family: 'Roboto';
        letter-spacing: 1px;
        span {
            transition: all 0.2s ease-in-out;
        }
    }

    a:focus,
    a:hover {
        span {
            color: $yellow;
        }
    }

    .copy {
        font-size: 14px;
    }
}