$black: #2c2c2c;
$offWhite: #f0efed;
$forestGreen: #074115;
$green: #0e902d;
$yellow: #f8e71c;

$bigFont: Josefin Sans;

@mixin imgShadow($shadow: -20px) {
    box-shadow: $shadow 20px 0px -5px $yellow; 
}

@mixin heading($fontColor: $black, $fontSize: 2rem, $fontWeight: 700) {
    color: $fontColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-family: 'Josefin Sans';
}

@mixin headerImage($headerImg) {
    background-image: url($headerImg);
    background-position: left;
    background-size: cover;
}

    // The below code came from a post on css-tricks.com on Fluid Typography, and its author is Mike Riethmueller (https://www.madebymike.com.au/).
    // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

body {
    font-family: 'Roboto';
    font-weight: 400;
    // font-size: 2rem;
    font-size: calc(10px + (30px - 10px) * ((100vw - 320px) / (1400px - 320px)));
    line-height: 32px;
    color: $black;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
a {
    font-family: $bigFont;
}

input {
    font-family: 'Josefin Sans';
    font-size: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    display: inline-block;
    background-color: $green;
    color: $offWhite;
    padding: 5px 20px;
    font-size: 20px;
    border: 3px $offWhite solid;
    transition: border 0.3s ease-in-out;

    &:hover,
    &:focus {
        border: 3px $yellow solid;
    }
}