header {
    height: 100vh;
    padding: 0 0 100px;
    &.blogBanner,
    &.bruceBanner {
        height: 70vh;
    }
}

.skipLink {
    position: absolute;
    right: 10000px;
    top: 5px;
    z-index: 20;
    background-color: $yellow;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px;
    width: 20%;
    text-align: center;
}

.skipLink:focus {
    right: 10px;
    top: 10px;
}

nav {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    &.leftHome {
        background-color: #080808;
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: 90px;

    li a {
        color: $offWhite;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }

    .logo {
        text-transform: capitalize;
        font-size: 2.5rem;
    }

    .logo,
    li a {
        transition: all 0.2s ease-in-out;
    }

    .logo:hover,
    .logo:focus,
    li a:hover,
    li a:focus {
        color: $yellow;
    }
}

.headerImg {
    height: 80%;
    width: 41%;
    position: absolute;
    bottom: -80px;
    right: 0;
    img {
        width: 100%;
    }
}

.heading1 {
    margin: 220px auto 0;
    width: 40%;
    height: 100vh;
    position: relative;
    z-index: 10;
    h1 {
        @include heading($yellow, 140px, 400);
        line-height: 120px;
        .white {
            color: $offWhite;    
        }
    }
}
.heading2 {
    margin: 0 auto;
    width: 50%;

    h1 {
        @include heading($yellow, 70px, 500);
        line-height: 80px;
    }
}

.heading3 {
    margin: 240px 60px 0 140px;
    width: 20%;

    h1 {
        @include heading($yellow, 60px, 700);
        line-height: 70px;
        width: 100%;
    }
}

.homeBanner {
    @include headerImage('../plantedFinalAssets/homeImage1.jpg');
}

.blogBanner {
    @include headerImage('../plantedFinalAssets/blogHeader1.jpg');
}

.bruceBanner {
    @include headerImage('../plantedFinalAssets/contactHeader1.jpg');
}