.contact {
    background-color: $offWhite;
    padding: 100px 0 160px;
}

.mainContact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lefty {
    margin-left: 60px;
    line-height: 25px;
    i {
        color: $green;
        background-color: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 5px;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        transition: background-color, 0.3s ease-in-out;
        &:hover,
        &:focus {
            background-color: $yellow;
        }
    }
}

address {
    font-style: normal;
    font-size: 16px;
    font-family: 'Roboto';
    letter-spacing: 1px;
    margin-left: 10px;
    .email {
        display: block;
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline 3px $offWhite;
        transition: all 0.2s ease-in-out;
        &:focus,
        &:hover {
            text-decoration: underline 3px $yellow; 
        }
    }
    .phone {
        font-family: 'Roboto';
        text-decoration: underline 3px $offWhite;
        transition: all 0.2s ease-in-out;
        &:focus,
        &:hover {
            text-decoration: underline 3px $yellow; 
        }
    }
}

// form start

.form {
    position: absolute;
    right: 80px;
    bottom: -90px;
    width: 60%;
    height: min-content;
    padding: 40px 40px;
    background-color: #fff;
    @include imgShadow;
    input,
    textarea {
        margin: 40px 20px 20px;
        padding: 20px;
    }
    .button {
    width: 96%;
    margin-left: 16px;
    }
}

.hideThis {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.topField {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.top {
    width: 44%;
    height: 40px;
    color: $forestGreen;
    border-bottom: solid 2px $green;
}

.message {
    width: 95%;
    height: 220px;
    padding: 0;
    border: solid 2px $green;
    color: $forestGreen;
}