html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: calc(10px + (30px - 10px) * ((100vw - 320px) / (1400px - 320px)));
  line-height: 32px;
  color: #2c2c2c;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
a {
  font-family: Josefin Sans;
}

input {
  font-family: 'Josefin Sans';
  font-size: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  background-color: #0e902d;
  color: #f0efed;
  padding: 5px 20px;
  font-size: 20px;
  border: 3px #f0efed solid;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.button:hover, .button:focus {
  border: 3px #f8e71c solid;
}

header {
  height: 100vh;
  padding: 0 0 100px;
}

header.blogBanner, header.bruceBanner {
  height: 70vh;
}

.skipLink {
  position: absolute;
  right: 10000px;
  top: 5px;
  z-index: 20;
  background-color: #f8e71c;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 20px;
  width: 20%;
  text-align: center;
}

.skipLink:focus {
  right: 10px;
  top: 10px;
}

nav {
  width: 100%;
  height: 60px;
  padding-top: 20px;
}

nav.leftHome {
  background-color: #080808;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin-left: 90px;
}

ul li a {
  color: #f0efed;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

ul .logo {
  text-transform: capitalize;
  font-size: 2.5rem;
}

ul .logo,
ul li a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul .logo:hover,
ul .logo:focus,
ul li a:hover,
ul li a:focus {
  color: #f8e71c;
}

.headerImg {
  height: 80%;
  width: 41%;
  position: absolute;
  bottom: -80px;
  right: 0;
}

.headerImg img {
  width: 100%;
}

.heading1 {
  margin: 220px auto 0;
  width: 40%;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.heading1 h1 {
  color: #f8e71c;
  font-size: 140px;
  font-weight: 400;
  font-family: 'Josefin Sans';
  line-height: 120px;
}

.heading1 h1 .white {
  color: #f0efed;
}

.heading2 {
  margin: 18% 60px 0 140px;
  width: 20%;
}

.heading2 h1 {
  color: #f8e71c;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Josefin Sans';
  line-height: 70px;
  width: 100%;
}

.heading3 {
  margin: 18% 60px 0 140px;
  width: 20%;
}

.heading3 h1 {
  color: #f8e71c;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Josefin Sans';
  line-height: 70px;
  width: 100%;
}

.homeBanner {
  background-image: url("../plantedFinalAssets/homeImage1.jpg");
  background-position: left;
  background-size: cover;
}

.blogBanner {
  background-image: url("../plantedFinalAssets/blogHeader1.jpg");
  background-position: left;
  background-size: cover;
}

.bruceBanner {
  background-image: url("../plantedFinalAssets/contactHeader1.jpg");
  background-position: left;
  background-size: cover;
}

.about {
  background-color: #f0efed;
  padding: 80px 0 160px;
}

.aboutContent {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.aboutContent h2 {
  color: #2c2c2c;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Josefin Sans';
  margin: 100px 0 30px;
}

.aboutContent p {
  margin-bottom: 30px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.columnOne,
.columnTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 100px);
}

.columnOne .newsImg img,
.columnTwo .newsImg img {
  width: 100%;
}

.columnOne .newsText,
.columnTwo .newsText {
  width: 80%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.columnOne .newsText h3,
.columnTwo .newsText h3 {
  color: 32px;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Josefin Sans';
  margin-bottom: 20px;
}

.columnOne .newsText p,
.columnTwo .newsText p {
  line-height: 25px;
  margin-bottom: 20px;
}

.columnOne {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  text-align: right;
}

.columnOne .newsText {
  margin: 0 -15px 0 auto;
}

.columnOne .newsImg img {
  -webkit-box-shadow: 20px 20px 0px -5px #f8e71c;
          box-shadow: 20px 20px 0px -5px #f8e71c;
  position: relative;
  bottom: 30px;
}

.columnTwo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: 100px;
  text-align: left;
}

.columnTwo .newsText {
  margin: 0 auto 0 0;
}

.columnTwo .newsImg img {
  -webkit-box-shadow: -20px 20px 0px -5px #f8e71c;
          box-shadow: -20px 20px 0px -5px #f8e71c;
  position: relative;
  top: 30px;
}

.moreInfo {
  background-color: #f0efed;
  padding: 100px 0 80px;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoBox {
  width: calc(100% / 2 - 60px);
  padding: 40px 0;
  margin: 0 30px;
}

.infoBox h3 {
  color: 32px;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Josefin Sans';
  margin-bottom: 20px;
  position: relative;
  right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoBox h3 a {
  -webkit-text-decoration: 2px underline transparent;
          text-decoration: 2px underline transparent;
  -webkit-transition: all, 0.3s ease-in-out;
  transition: all, 0.3s ease-in-out;
}

.infoBox h3 a:hover,
.infoBox h3 a:focus {
  -webkit-text-decoration: 2px underline #f8e71c;
          text-decoration: 2px underline #f8e71c;
}

.infoBox h3 i {
  position: relative;
  right: 15px;
  bottom: 10px;
  background-color: #f8e71c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  padding-top: 7px;
}

.infoBox p {
  line-height: 25px;
}

.narcissist {
  background-color: #f0efed;
}

.founderBanner {
  height: 421px;
}

.founderBanner img {
  width: 100%;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
  width: 90%;
  margin: 0 auto;
}

.founderContainer {
  width: 25%;
}

.founderContainer img {
  width: 100%;
  -webkit-box-shadow: -20px 20px 0px -5px #f8e71c;
          box-shadow: -20px 20px 0px -5px #f8e71c;
}

.founderText {
  width: calc(75% - 120px);
  margin-left: 120px;
  margin-top: 20px;
}

.founderText h3 {
  font-size: 42px;
  margin-bottom: 20px;
}

.founderText a {
  margin-top: 20px;
}

.gallery {
  padding: 100px 0;
}

.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.imgContainer {
  width: calc(100% / 3 - 40px);
  margin: 0 20px;
}

.imgContainer img {
  width: 100%;
}

.contact {
  background-color: #f0efed;
  padding: 100px 0 160px;
}

.mainContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lefty {
  margin-left: 60px;
  line-height: 25px;
}

.lefty i {
  color: #0e902d;
  background-color: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  -webkit-transition: background-color, 0.3s ease-in-out;
  transition: background-color, 0.3s ease-in-out;
}

.lefty i:hover, .lefty i:focus {
  background-color: #f8e71c;
}

address {
  font-style: normal;
  font-size: 16px;
  font-family: 'Roboto';
  letter-spacing: 1px;
  margin-left: 10px;
}

address .email {
  display: block;
  font-weight: 700;
  font-size: 20px;
  -webkit-text-decoration: underline 3px #f0efed;
          text-decoration: underline 3px #f0efed;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

address .email:focus, address .email:hover {
  -webkit-text-decoration: underline 3px #f8e71c;
          text-decoration: underline 3px #f8e71c;
}

address .phone {
  font-family: 'Roboto';
  -webkit-text-decoration: underline 3px #f0efed;
          text-decoration: underline 3px #f0efed;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

address .phone:focus, address .phone:hover {
  -webkit-text-decoration: underline 3px #f8e71c;
          text-decoration: underline 3px #f8e71c;
}

.form {
  position: absolute;
  right: 80px;
  bottom: -90px;
  width: 60%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 80px 40px 40px;
  background-color: #fff;
  -webkit-box-shadow: -20px 20px 0px -5px #f8e71c;
          box-shadow: -20px 20px 0px -5px #f8e71c;
}

.form input {
  margin: 20px;
}

.hideThis {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.top {
  width: 44%;
  height: 40px;
  color: #074115;
  border-bottom: solid 2px #0e902d;
}

.message {
  width: 95%;
  height: 250px;
  padding: 0;
  border: solid 2px #0e902d;
  color: #074115;
}

.button {
  width: 96%;
  margin-left: 16px;
}

.blog {
  background-color: #f0efed;
  padding: 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: min-content-250px;
}

aside {
  background-color: #fff;
  width: 20%;
  height: auto;
  margin: 0 100px;
  padding: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.asideImg {
  height: 300px;
  position: relative;
  margin-bottom: -20px;
}

.asideImg img {
  height: 100%;
  position: absolute;
  right: -5px;
  top: -40px;
}

.asideBlog,
.recentPosts {
  line-height: 25px;
}

.asideBlog h3,
.recentPosts h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.asideBlog p,
.recentPosts p {
  font-size: 14px;
}

.asideBlog a,
.recentPosts a {
  -webkit-text-decoration: underline 2px transparent;
          text-decoration: underline 2px transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.asideBlog a:hover, .asideBlog a:focus,
.recentPosts a:hover,
.recentPosts a:focus {
  -webkit-text-decoration: underline 2px #f8e71c;
          text-decoration: underline 2px #f8e71c;
}

.asideBlog {
  margin-bottom: 40px;
}

.asideBlog a {
  color: #074115;
  font-weight: 700;
  font-style: italic;
}

.recentPosts ul {
  list-style-type: disc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  color: #074115;
  width: 100%;
  padding-left: 20px;
}

.recentPosts li a {
  font-size: 14px;
  font-weight: 400;
  color: #2c2c2c;
  text-transform: capitalize;
}

.recentPosts li a:hover, .recentPosts li a:focus {
  color: #2c2c2c;
}

.mainBlog {
  width: 65%;
  position: relative;
  bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainBlogImg {
  width: 100%;
}

.mainBlogImg img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -20px 20px 0px -5px #f8e71c;
          box-shadow: -20px 20px 0px -5px #f8e71c;
}

.mainBlogText {
  position: relative;
  right: 59px;
  padding: 40px;
  border-left: 5px solid #f8e71c;
  border-bottom: 5px solid #f8e71c;
}

.mainBlogText h2 {
  font-size: 43px;
  font-weight: 700;
  margin-top: 40px;
}

.mainBlogText .date {
  margin-top: 10px;
  margin-bottom: 40px;
  font-style: italic;
  color: #074115;
}

.mainBlogText .date a {
  font-weight: 700;
  -webkit-text-decoration: underline 2px solid transparent;
          text-decoration: underline 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mainBlogText .date a:hover, .mainBlogText .date a:focus {
  -webkit-text-decoration: underline 2px solid #f8e71c;
          text-decoration: underline 2px solid #f8e71c;
}

.mainBlogText p {
  margin-top: 10px;
}

.postedComms {
  padding: 30px;
}

h4 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Josefin Sans';
  margin: 40px 0;
}

.userComms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.userComms img {
  height: 92px;
  width: 94px;
  margin: 5px 0;
}

.userComms .posted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-left: 40px;
}

.userComms .posted .userDate {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Josefin Sans';
  color: #074115;
}

.blogForm .top {
  width: 45%;
}

.blogForm .topOne {
  margin-right: 30px;
}

.blogForm .top,
.blogForm .message {
  margin-bottom: 40px;
}

.blogForm .button {
  margin-left: 0;
  font-family: 'Josefin Sans';
}

footer {
  background-color: #2c2c2c;
  text-align: center;
}

footer p {
  color: #f0efed;
  font-size: 20px;
  margin: 0 auto;
}

footer a {
  font-family: 'Roboto';
  letter-spacing: 1px;
}

footer a span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer a:focus span,
footer a:hover span {
  color: #f8e71c;
}

footer .copy {
  font-size: 14px;
}
