html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: calc(10px + (30px - 10px) * ((100vw - 320px) / (1400px - 320px)));
  line-height: 32px;
  color: #2c2c2c;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
a {
  font-family: Josefin Sans;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a.button {
  display: block;
  background-color: #0e902d;
  color: #f0efed;
  font-size: 20px;
  padding: 10px 20px;
  border: 3px solid #f0efed;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

a.button:focus,
a.button:hover {
  border: 3px solid #f8e71c;
}

header {
  height: 100vh;
  padding: 30px 0 100px;
}

header .skipLink {
  position: absolute;
  right: -1000px;
  top: 5px;
  z-index: 20;
  background-color: #f8e71c;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 20px;
}

header .skipLink:focus {
  right: 10px;
  top: 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  margin: 0 auto 0 20px;
}

nav li a {
  color: #f0efed;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1rem;
}

nav ul .logo {
  text-transform: capitalize;
  font-size: 2.5rem;
}

ul .logo,
ul li a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul .logo:hover,
ul .logo:focus,
ul li a:hover,
ul li a:focus {
  color: #f8e71c;
}

.headerImg {
  height: 80%;
  width: 41%;
  position: absolute;
  bottom: -80px;
  right: 0;
}

.headerImg img {
  width: 100%;
}

.heading1 {
  margin: 0 auto;
  width: 42%;
  height: 100px;
  position: relative;
  top: 100px;
  z-index: 10;
}

.heading1 h1 {
  color: #f8e71c;
  font-size: 9rem;
  font-weight: 400;
  font-family: 'Josefin Sans';
  line-height: 120px;
}

.heading1 h1 .white {
  color: #f0efed;
}

/* this is where you began writing code directly in, come back and edit later, but you also edited nesting */
/* .heading2 {
  margin: 0 auto;
  width: 50%;
}

.heading2 h1 {
  color: #f8e71c;
  font-size: 9rem;
  font-weight: 400;
  font-family: 'Josefin Sans';
  line-height: 120px;
}

.heading3 {
  margin: 0 auto 0 100px;
  width: 50%;
}

.heading3 h1 {
  color: #f8e71c;
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Josefin Sans';
  line-height: 120px;
}

.about {
  padding: 100px 0 150px;
  background-color: #f0efed;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  text-align: center;
  width: 80%;
}

.aboutContent * {
  margin: 40px auto 0;
}

.aboutContent a {
  width: 200px;
  font-size: 25;
  margin: 40px auto 0;
}

.aboutContent h2 {
  font-size: 50px;
} */



.homeBanner {
  background-image: url("../plantedFinalAssets/homeImage1.jpg");
  background-position: left;
  background-size: cover;
}

.blogBanner {
  background-image: url("../plantedFinalAssets/blogHeader1.jpg");
  background-position: left;
  background-size: cover;
}

.bruceBanner {
  background-image: url("../plantedFinalAssets/contactHeader1.jpg");
  background-position: left;
  background-size: cover;
}
